<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <!-- <ul class="nav navbar-nav">
                 <li class="active"><a href="#">Home</a></li> -->
                <!-- <li><a href="#">About</a></li> -->
                <!-- <li><a href="#">Projects</a></li> -->
                <!-- <li><a href="#">Contact</a></li> -->
                <!-- <li><a href="bootnet.html">Register</a></li>
                <li><a href="Dashboard.html" class="active">Home</a></li>
              </ul> -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'users:logoutuser' %}"><span class="glyphicon glyphicon-log-in"></span> logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-inverse visible-xs">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="Dashboard.html">Logo</a>
            </div>
            <!-- <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="Dashboard.html">HOME</a></li>
                <li><a href="#">Age</a></li>
                <li><a href="#">Gender</a></li>
                <li><a href="#">Geo</a></li>
              </ul>
            </div> -->
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav hidden-xs">
                <div class="well" style="height: 550px">
                    <h2>Logo</h2>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'users:userregister' %}">Register</a></li>
                        <li><a href="{% url 'users:updatefeedback' %}">Feed Back</a></li>
                    </ul>
                    <br>
                </div>
            </div>
            <br>

            <div class="col-sm-9">
                {%block body%}

                {%endblock%}
            </div>
        </div>
    </div>
    <br>
    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>
</body>
</html>
