<!DOCTYPE html>
<html lang="en">
<head>
  <title>Reset_Password</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<form  method="post" action="{% url 'users:resetpassword' %}">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="well">
                        <h1>Reset Password</h1>

                        <div class="form-group">
                          <label>Enter New Password</label>
                          <input type="password" name="pwd" class="form-control" id="Enter New Password" placeholder="Enter New Password">
                        </div>
                        
                        <div class="form-group">
                         <label> Re-Type Password</label>
                         <input type="password" name="pwd1"  class="form-control" id="psw" placeholder="Re-Type password">
                        </div>

                        <button type="submit" class="btn btn-success">Submit</button>

                    </div>
                </div>
            </div>
        </div>
</form>
</body>
</html>