<html>
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
.a1{

	width: 320px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}

</style>
</head>
<body>

<form action="{% url 'users:login' %}" method="post" class="a1">
    {% csrf_token %}
    <div class="container">
        <div class="row">
    <div class="col-lg-4">
      <div class="well">
        <p>LOGIN</p>



          <div class="form-group">
    <label>USER ID: </label><input type="text" name="uname" id="t01" class="form-control" placeholder="" required>
  </div>

          <div class="form-group">
    <label>PASSWORD: </label><input type="password" name="pwd" id="t01" class="form-control" placeholder="" required>
  </div>


    <button type="submit" id="t03" onclick="" class="btn btn-success">login</button>
          <br><br>

          {%if error%}
          <font style="color:red">{{error}}</font>
          {%endif%}
    <hr>
    </div>
        </div>
      </div>
    </div>
</form>
</body>
</html>

